/* @group reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* @end */

/* @group structure */

body {
	background: #f5f7f0;
	width: 350px;
	margin: -5px 15px 15px;
}

#wrapper {
	margin: 35px 0 0;
}

/* @end */

/* @group header */

header {
	margin: 0 0 15px;
	float: left;
	width: 335px;
}

h1 {
	width: 66px;
	height: 20px;
	float: left;
	margin: 20px 0 0;
}

h1 a:link, h1 a:active, h1 a:visited {
	background: url(logo-small.png) no-repeat 0 0;
	display: block;
	width: 66px;
	height: 20px;
	text-indent: -99999px;
	color: #333;
	margin: 0;
	text-shadow: rgba(250, 250, 250, 0.6) 2px 2px 0;
	float: left;
}

header.large h1 {
	width: 154px;
	height: 47px;
	float: none;
	margin: 25px auto 25px;
}

header.large h1 a {
	background: url(logo.png) no-repeat 0 0;
	width: 154px;
	height: 47px;
	margin: 0 auto 15px;
	float: none;
}

#yourFeed {
	float: right;
	margin: 23px 0 0;
	padding: 0;
	text-align: left;
}

#yourFeed article {
	font-size: 12px;
	color: #777878;
	overflow: hidden;
}

#yourFeed article a:link, #yourFeed article a:active, #yourFeed article a:visited {
	color: #39B2E5;
	padding: 1px 2px;
	text-decoration: none;
}

#yourFeed article a:hover {
	text-decoration: underline;
}

#yourFeed article figure {
	display: inline;
	margin: 0;
}

#yourFeed article figure img {
	width: 13px;
}

#yourFeed article span {
	color: #aaa;
	font-size: 12px;
}

/* @end */

/* @group friendsFeed */

#friendsFeed article {
	margin: 0 15px 15px 0;
	padding: 8px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	clear: both;
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.20s ease-in; 
	transition: all 0.20s ease-in;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

#friendsFeed article:hover {
	-webkit-transform: scale(1.03);
	-webkit-box-shadow: 4px 4px 1px #d0d0d0;
	box-shadow: 4px 4px 1px #d0d0d0;
	-webkit-transition: all 0.20s ease-in; 
	transition: all 0.20s ease-in;
}

#friendsFeed article a:link, #friendsFeed article a:active, #friendsFeed article a:visited {
	color: #39B2E5;
	padding: 1px 2px;
	text-decoration: none;
}

#friendsFeed article a:hover {
	color: #309fcf;
}

#friendsFeed article h2 {
	font-family: Arial, sans-serif;
	font-size: 20px;
	margin: 0;
}

#friendsFeed article figure {
	float: left;
	margin: 0 10px 0 0;
	position: relative;
}

#friendsFeed article figure img {
	width: 55px;
}

#friendsFeed article figure img.locationIcon {
	width: 25px;
	position: absolute;
	bottom: -5px;
	right: -5px;
}

#friendsFeed article p {
	font-size: 14px;
	margin: 0;
}

#friendsFeed article span {
	color: #aaa;
	font-size: 12px;
}

/* @end */

/* @group options */

#setUsername {

}

form {
	margin: 0 0 45px;
	text-align: center;
}

form label {
	float: left;
	font: 20px/1em 'Droid Sans', sans-serif;
	text-shadow: rgba(255,255,255,.5) 0 1px 0;
	color: hsl(0, 0%, 40%);
}

form input[type="text"], form input[type="text"]:focus {
	outline: none;
	padding: .5em .6em .4em .6em;
	margin: 4px 0 35px;
	display: inline-block;
	width: 315px;
	height: 25px;
	font: 25px/1em 'Droid Sans', sans-serif;
	-webkit-border-radius: 8px;
	background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
	color: hsl(0, 0%, 40%) !important;
	background-color: #fff;
	border-top: 1px solid rgba(255,255,255,0.8);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	-webkit-transition: background .2s ease-in-out;
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, rgba(0,0,0,0.2) 0 .5em 5px;
}

form input[type="submit"] {
	margin: 20px auto 0;
}

.button {
	text-decoration: none;
	font: 24px/1em 'Droid Sans', sans-serif;
	font-weight: bold;
	text-shadow: rgba(255,255,255,.5) 0 1px 0;
	-webkit-user-select: none;
	padding: .5em .6em .4em .6em;
	margin: .5em;
	display: inline-block;
	position: relative;
	-webkit-border-radius: 8px;
	border-top: 1px solid rgba(255,255,255,0.8);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
	-webkit-transition: background .2s ease-in-out;
	color: hsl(0, 0%, 40%) !important;
	background-color: hsl(0, 0%, 75%);
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, rgba(0,0,0,0.2) 0 .5em 5px;
}

.button:hover {
	background-color: hsl(0, 0%, 83%);
}

.button:active {
	background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) ));
	-webkit-box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, rgba(0,0,0,0.4) 0 .1em 1px, rgba(0,0,0,0.2) 0 .2em 6px;
	-webkit-transform: translateY(.2em);
}

.button:focus {
	outline: none;
	color: rgba(254,255,255,0.9) !important;
	text-shadow: rgba(0,0,0,0.2) 0 1px 2px;
}

.iPhoneCheckContainer {
	position: relative;
	height: 27px;
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
	margin: -4px 0 0;
}

.iPhoneCheckContainer input {
	position: absolute;
	top: 5px;
	left: 30px;
	opacity: 0;
}

.iPhoneCheckContainer label {
	white-space: nowrap;
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	display: block;
	height: 27px;
	position: absolute;
	width: auto;
	top: 0;
	padding-top: 5px;
	overflow: hidden;
}

.iPhoneCheckContainer, .iPhoneCheckContainer label {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
}

.iPhoneCheckDisabled {
	opacity: 0.5;
}

label.iPhoneCheckLabelOn {
	color: #fff;
	background: url('/iphone-style-checkboxes/on.png?1282083753') no-repeat;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
	left: 0;
	padding-top: 5px;
}

label.iPhoneCheckLabelOn span {
	padding-left: 8px;
}

label.iPhoneCheckLabelOff {
	color: #8b8b8b;
	background: url('/iphone-style-checkboxes/off.png?1282083753') no-repeat right 0;
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
	text-align: right;
	right: 0;
}

label.iPhoneCheckLabelOff span {
	padding-right: 8px;
}

.iPhoneCheckHandle {
	display: block;
	height: 27px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	background: url('/iphone-style-checkboxes/slider_left.png?1282083753') no-repeat;
	padding-left: 3px;
}

.iPhoneCheckHandleRight {
	height: 100%;
	width: 100%;
	padding-right: 3px;
	background: url('/iphone-style-checkboxes/slider_right.png?1282083753') no-repeat right 0;
}

.iPhoneCheckHandleCenter {
	height: 100%;
	width: 100%;
	background: url('/iphone-style-checkboxes/slider_center.png?1282083753');
}

/* @end */

/* @group footer */

footer {
	margin: 10px 0;
}

footer p {
	font-size: 12px;
	color: #999;
	text-align: center;
}

footer a:link, footer a:active, footer a:visited {
	color: #666;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

/* @end */

/* @group misc */

.hidden {
	display: none;
}

/* @end */